In [4]:
import streamlit as st
import requests 
import pandas as pd
import plotly.express as px

In [5]:
url = 'https://labdados.com/produtos'

In [6]:
response = requests.get(url)

In [7]:
dados = pd.DataFrame.from_dict(response.json())

In [8]:
dados

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Modelagem preditiva,livros,92.45,5.609697,01/01/2020,Thiago Silva,BA,1,cartao_credito,3,-13.29,-41.71
1,Iniciando em programação,livros,43.84,0.000000,01/01/2020,Mariana Ferreira,SP,5,cartao_credito,1,-22.19,-48.79
2,Pandeiro,instrumentos musicais,87.18,2.226512,01/01/2020,Thiago Silva,RJ,4,cartao_credito,4,-22.25,-42.66
3,Corda de pular,esporte e lazer,13.65,1.257926,01/01/2020,Camila Ribeiro,RJ,4,boleto,1,-22.25,-42.66
4,Dinossauro Rex,brinquedos,28.32,2.039059,01/01/2020,Juliana Costa,RJ,1,cartao_debito,1,-22.25,-42.66
...,...,...,...,...,...,...,...,...,...,...,...,...
9430,Impressora,eletronicos,472.77,25.456706,31/12/2022,Camila Ribeiro,MT,4,cartao_credito,3,-12.64,-55.42
9431,Dashboards com Power BI,livros,54.85,3.451702,31/12/2022,Lucas Oliveira,RJ,5,cartao_credito,3,-22.25,-42.66
9432,Cubo mágico 8x8,brinquedos,19.74,0.000000,31/12/2022,Bianca Santos,RJ,5,cartao_credito,8,-22.25,-42.66
9433,Faqueiro,utilidades domesticas,52.49,0.000000,31/12/2022,Larissa Alves,DF,4,cartao_credito,5,-15.83,-47.86
9434,Micro-ondas,eletrodomesticos,711.30,35.459024,31/12/2022,Bianca Santos,MA,5,cartao_credito,4,-5.42,-45.44

In [26]:
geo_localizcao = dados[['Local da compra', 'lat', 'lon']].drop_duplicates().sort_values(by='Local da compra')

In [27]:
geo_localizcao

     Local da compra    lat    lon
1067              AC  -8.77 -70.55
48                AL  -9.62 -36.82
894               AM  -3.47 -65.10
1584              AP   1.41 -51.77
0                 BA -13.29 -41.71
84                CE  -5.20 -39.53
73                DF -15.83 -47.86
6                 ES -19.19 -40.34
189               GO -15.98 -49.86
109               MA  -5.42 -45.44
7                 MG -18.10 -44.38
72                MS -20.51 -54.54
173               MT -12.64 -55.42
91                PA  -3.79 -52.48
79                PB  -7.28 -36.72
57                PE  -8.38 -37.86
809               PI  -6.60 -42.28
16                PR -24.89 -51.55
2                 RJ -22.25 -42.66
466               RN  -5.81 -36.59
113               RO -10.83 -63.34
1761              RR   1.99 -61.33
15                RS -30.17 -53.50
43                SC -27.45 -50.95
772               SE -10.57 -37.45
1                 SP -22.19 -48.79
200               TO  -9.46 -48.26